sudo: required
services:
- docker
script:
- docker run -v $(pwd):/code:rw team5499/frc-testing-image /code/gradlew -p /code test jacocoTestReport publishToTeamRepo --username=$USERNAME --password=$PASSWORD
after_success:
- bash <(curl -s https://codecov.io/bash)
# - /code/gradlew -p /code publishToTeamRepo --username=$USERNAME --password=$PASSWORD
branches:
  only:
  - master
env:
  global:
  - secure: 27QEXgoxkZnGbAVmSrbG5Sg70XRvhPpGKXzFY59IAJmt5E8F58XV9rshaaqbR9wJ77zb5UHYJmJC+aOwJCwdWBZqwC9tMiU/10Ep7qZQMIgfwNzXvRR4CJwUs2mmdlsSOVBPpRhM/RQKDqKBmTWqoMm1DZSu/dfvAIseS4aLsUjD+y1wg3rGvoC+9+GoO/yZi4Ih/Hi4i/7hINZK6FgSmtMfWZhzM0oTwRMQ6ENVGqUP7QwBoWB1yxRvzqyHIJ3CA2kPdoEXIDVFwxeEzLPSGv4RrdI3eVVFxsEqxsgKxXmKX3kSgLMJKgE6/BYFTfSMJ9F86wZEfctGwvY2LFh18REKM+mQfEkSXqakCq4ubkA47qkdFm87MOMe8KAR30IdKBHTgzRFs8b+y4esPNMpaEkbMWNxyTCnPKoJyE5Ly5MJPnDKFrlHG2MMOSDcjPVinU25B81L1Tvb5XRRpnFRcsinAneG9jEAhD6YEtW3rkcmfvLqRiAYy0r2gKsQ1tSnnXKYY+Bc5nKL/sHl8ZM2xFO3PkoYFHhkempLJ1lc3RNPUYeO2uWHgXHVsHcjwDWCacixegaTuHVIkb9cn09Rejm9/V1h5G1IIVUIsicDO+ejmbN4hy1N95ReFm9G6Qfjglq3EibdNkl3CWWNsJX/2xOyMPJ+tN0L0ra3btWSJvA=
  - secure: BM3Lx3swMdkD71xuRR5onG9Qx5VM6N8SlIuJxEomaNHn7MLP2jEr2XTDMajURuW+i6meqaFYdb1pDFBdnY/yqWK7ubnnJiLgDUpIxgpjzw1gp2EyvrTfSLwM5NjkFd3gKSj2xJ8wC+iW5x62m+mUxI/SWHoIiZsNZN1Guev6uh1Pt8OWaystQidB5kt+FqwW0giG8H7Pos57XEXfu/eNy+wxh31h4KLt30Cj3CMFfc/QoxDcSnUK6b+N93Bn8gxsl+ebSZmt9JpYJ5P2Lkk58aq2zF2Jmh7FqMwp4lp3PbLZOdbqwzK7ko1PT2mzZdn3yxdJ+Yb0JvUPQGy8QVrOkdwyGT7l9yG+Llo4xMuHOeaTxovap5Jp7BeVI/Nt1Wyswr8lPrmbSlymHOQmznU0eaSPMxkfqGn3zP/bPHYON/wTQapzowiHEmMb1PqMRaBT8UB3WxYmRnj4MPW2YuDrehKWDRRi6QLcTJmRi1W3QHAo5QRwnHqRxPHbUayAKWKnihF6hLDJT9Vu170iWe+eCI7SugVIJACQaxqcW6Vtsn6RXqrMkFgmwN3GB3b/J4fjL8Lhwmnq8a6BB9k7E3srpWPVPGJr8JyCJ5u4Jh8uptANmUtp9O7YWFSg0UvO6aRmMRzve0AJdICTn8HPe0FTdmJi/h82tb7kxuyOH+Btmdk=
